<div class="navContainer">
  <a (click)="toHome()" class="logo">SOSPET</a>
  <ul class="navSection">
    <li (click)="toHome()"><a class="navItens">Home</a></li>
    <li (click)="toPubPet()"><a class="navItens">Post Pet</a></li>
    <li (click)="toPublications()"><a class="navItens">Find Pet</a></li>
    @if (!this.authService._isAuthenticated) {
    <li (click)="toLogin()"><a class="navItens">Login</a></li>
    }@else {
    <li>
      <div
        matBadge="{{ messages }}"
        matBadgeColor="warn"
        [matMenuTriggerFor]="menu"
        class="nav-icon"
      >
        @if (!user?.filename) {
        <mat-icon>account_circle</mat-icon>= }@else {
        <div class="userPerfilImg">
          <img
            src="http://localhost/loginPage/backend/upload/{{ user.id }}/{{
              user.filename
            }}"
            alt=""
          />
        </div>
        }
        <mat-menu #menu="matMenu">
          <button (click)="toProfile()" mat-menu-item>
            <span>Profile</span>
          </button>
          <button
            matBadge="{{ messages }}"
            matBadgeColor="warn"
            class="item"
            mat-menu-item
          >
            <span>Messages</span>
          </button>
          <button (click)="modeToggle()" mat-menu-item>
            <span>Dark Mode</span>
          </button>

          <button (click)="signOut()" mat-menu-item>
            <span>Sign out</span>
          </button>
          
        </mat-menu>
      </div>
    </li>
    }
  </ul>
</div>
