.corpo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30vh;
    width: 100vw;
    background-color: #ffffff;

}

h1 {
    padding-top: 30px;
    padding-left: 50px;
    text-wrap: wrap;

}
.cardH1{
    text-wrap: wrap;
    flex-wrap: wrap;
    overflow: hidden;
    width: 30vw;
}
.card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 70vw;
    min-height: 500px;
    border-radius: 10px;
    box-shadow: 0px 0px 9px 4px rgba(0, 0, 0, 0.041);


}

.userPanel {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    align-items: center;
    text-align: start;

}

.card-user-header {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    width: 100%;

}

.card-user-header h1 {
    cursor: pointer;
}

.btn {

    min-width: 240px;
    color: white;
}

.card-img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -300px;
    border-radius: 100%;
    height: 280px;
    width: 280px;
    background-size: cover;
    background-color: #673ab7;  
    border: 1px solid #673ab7;
    overflow: hidden;
}

.card-img img {
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 100%;
}

.icon {

    text-align: center;
    margin-top: 80%;
    color: #ffffff;
}

mat-icon {
    opacity: 0.6;
    cursor: pointer;
    transition: opacity 0.5s ease 0s;
}

mat-icon:hover {
    opacity: 0.3;
    color: #ffffff;

}

.parent {

    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(2, 50%);
    grid-column-gap: 40px;
    grid-row-gap: 10px;
    min-width: 60vw;
    padding: 40px;
    border-radius: 10px;

}
input::placeholder {
    color: #85858536;
}

.file-label {
    position: relative;
    display: inline-block;
}

.file-label input {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
}

.file-label mat-icon {
    cursor: pointer;
    padding: 8px 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f0f0f0;
    color: #673ab7;

}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.img-icon{
    cursor: auto;
    opacity: 1;
    transform: scale(14);
    color: #ffffff;
    position: absolute;
}

.img-icon:hover{
    cursor: auto;
    border-radius: 100%;
    color: #ffffff;
    opacity: 1;
    position: absolute;
}
.form2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

mat-form-field{
    width: 30vw !important;
}