<div class="total">
  <div class="corpo">
    <div class="card">
      <div class="cardH1">
        <h1>Hello {{ user?.firstName }}</h1>
      </div>
      <div class="userPanel">
        <div class="card-user-header">
          <form class="form" enctype="multipart/form-data">
            <div class="card-img">
              <mat-icon *ngIf="!user?.filename" class="img-icon">account_circle</mat-icon>
              <img *ngIf="user?.filename" class="userPerfilImg" src="http://localhost/loginPage/backend/upload/{{ user.id }}/{{ user.filename }}" alt="">
              
              <form class="icon" enctype="multipart/form-data">
                <label class="file-label">
                  <mat-icon #fileIcon>add_a_photo</mat-icon>
                  <input #fileInput type="file" class="form-control" (change)="handleFileInput($event)" />
                </label>
              </form>
            </div>
          </form>
        </div>

        <form class="form2" [formGroup]="userForm">
          <div class="parent">
            <mat-form-field appearance="outline">
              <mat-label>First Name</mat-label>
              <input
                formControlName="firstName"
                type="text"
                placeholder="First name"
                matInput
              />
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Last Name</mat-label>
              <input
                formControlName="lastName"
                type="text"
                placeholder="Last name"
                matInput
              />
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>{{ getErrorMessage("email") || "Email" }}</mat-label>
              <input
                formControlName="email"
                type="text"
                placeholder="New Email"
                matInput
              />
            </mat-form-field>
          </div>
          <button
            (click)="openDialog()"
            class="btn"
            type="submit"
            style="background-color: #673ab7; color: white"
            mat-raised-button
            [disabled]="userForm.invalid"
          >
            Update Profile
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
