<div class="total">
  <div class="corpo">
    <div class="card-info">
      <h1>Hi there, {{user.email}}</h1>
      <div class="userPanel">
        <div class="card-user-header">
          <form class="form" enctype="multipart/form-data">
            <button
              style="background-color: #673ab7; color: white"
              type="btn"
              class="btn"
              mat-raised-button
            >Change Wallpaper
            </button>
            <div class="card-img">
              <mat-icon class="img-icon">account_circle</mat-icon>
              <form class="icon" enctype="multipart/form-data">
                <label class="file-label">
                  <mat-icon #fileIcon>add_a_photo</mat-icon>
                  <input #fileInput type="file" class="form-control" />
                </label>
              </form>
            </div>
            <label class="file-label">
              <input
                #fileInput
                type="file"
                class="form-control"
                style="display: none"
              />
            </label>
            <button
              class="btn"
              style="background-color: #673ab7; color: white"
              mat-raised-button
            > Update Profile
            </button>
          </form>
        </div>

        <div class="parent">
          <input
            class="userParent"
            type="text"
            placeholder="Email "
            value="{{user.email}}"
          />
          <input
          class="userParent"
          type="text"
          placeholder="New Password "
        />
          <input
            class="userParent"
            type="text"
            placeholder="User Name "
          />
          <!-- <input
            autofocus
            class="userParent"
            mask="000.000.000-00"
            placeholder="CPF"
            type="text"
          /> -->
          <input
            class="userParent"
            type="tel"
            mask="(00) 0 0000 0000"
            prefix="+55 "
            placeholder="Telephone"
          />
          <!-- <input class="userParent" type="text" placeholder="Endereço " /> -->
          <!-- <input
            class="userParent"
            type="text"
            placeholder="CEP "
            mask="00000-000"
          /> -->
        </div>
      </div>
    </div>
  </div>
</div>
