@use './../../../assets/styles/colors.scss' as *;

h1 {
  font-family: 'Comfortaa', sans-serif !important;;
  color: $primary !important;
  font-weight: 100;
  font-size: 30px;
}

.main {
  font-family: 'Comfortaa', sans-serif !important;;
  width: 100vw;
  min-height: 90vh;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stepper {
  margin-top: 40px;
  text-align: center;
  width: 80vw;
  border-radius: 10px;
  box-shadow: $cardShadowPrimary;
  background-color: $backgroundColorCard;

}
mat-stepper{
  background-color: transparent !important;
  color: white;
}  
::ng--deep .mat-step-label.mat-step-label-active {
  color: red !important; /* Substitua "red" pela cordesejada */
}


.stepper-find{
  color: white !important;
  box-shadow: $cardShadowPrimary;

}
.action {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  gap: 20px;
}

.itens {
  height: 10vh;
  gap: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

mat-stepper {
  margin: 20px !important;
  color: $primary !important;
}

mat-icon:hover {
  cursor: pointer;
  color:  $primary;
}

h2 {
  font-family: 'Comfortaa', sans-serif !important;;
  margin: 0 !important;
  color: $primary !important;
}

.header-stepper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-stepper h2 {
  margin: 0;
  flex-grow: 1;
}

.header-stepper mat-icon {
  margin-left: 10px;
}

.help {
  padding: 0 16px;
  transform: scale(1.2);
  color: white !important;
  background-color: $primary;
}

button {
  padding: 0 16px;
  
}

.footer {
  height: 10vh;
  width: 90vw;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  bottom: 0;
}
