@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;

}

h1 {
  font-family: 'Comfortaa', sans-serif !important;;
  /* font-family: 'Comic Neue', cursive !important; */
  color: #673ab7;
}

.main {
  font-family: 'Comfortaa', sans-serif !important;;
  /* font-family: 'Comic Neue', cursive !important; */
  width: 100vw;
  min-height: 90vh;
}

h1 {
  font-size: xx-large;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stepper {
  margin-top: 40px;
  text-align: center;
  width: 80vw;
}

.action {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  gap: 20px;
}

.itens {
  height: 10vh;
  gap: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

mat-stepper {
  margin: 20px !important;

}

mat-icon:hover {
  cursor: pointer;
  color: red;
}

h2 {
  font-family: 'Comfortaa', sans-serif !important;;
  /* font-family: 'Comic Neue', cursive !important; */
  margin: 0 !important;
}

.header-stepper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-stepper h2 {
  margin: 0;
  /* Remove as margens padrão do h2 */
  flex-grow: 1;
  /* Faz com que o h2 ocupe o espaço restante disponível */
}

.header-stepper mat-icon {
  margin-left: 10px;
  /* Ajuste conforme necessário para criar espaço entre o h2 e o mat-icon */
}

.help {
  padding: 0 16px;
  transform: scale(1.2);

}

button {
  padding: 0 16px;
}

.footer {

  height: 10vh;
  width: 90vw;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  bottom: 0;
}