@use './../../../assets/styles/colors.scss' as *;
.main {
    width: 100vw;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 500px;
    border-radius: 10px;
    box-shadow: $cardShadowPrimary;
    background-color: $backgroundColorCard !important;
    border: 1px solid $primary;
}

button {
    width: 150px;
}

p {
    margin: 20px;
}

span {
    color: $primary;
    cursor: pointer;
}

.card-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    margin: 40px;
    background-color: $primary;
    border: 1px solid $primary;

}

.main-card-icon {
    transform: scale(5);
    padding: 0 !important;
    color: $backgroundColorCard;
}

.btn{
    background-color: $primary !important;
    color: #ffffff !important;
}