.main{
    width: 100vw;
    height: 90vh;
    background-color: #F8F8FF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 0px 0px 9px 4px rgba(0,0,0,0.1);
}
.main-card-icon{
    padding: 0 !important;
    margin: 40px !important;
    padding: 20px;
    transform: scale(3);
  
}
button{
    width: 150px;
}

form{
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}