<div class="main">
  <div class="search">
    <div class="searchHeader">
      <h1>Search</h1>
      <mat-icon>search</mat-icon>
    </div>
    <div class="item">
      <mat-form-field appearance="outline">
        <mat-label>Filter by Species</mat-label>
        <mat-select (selectionChange)="filter($event, 'petSpecies')">
          <mat-option value="all">All</mat-option>
          <mat-option value="dog">Dog</mat-option>
          <mat-option value="cat">Cat</mat-option>
          <mat-option value="bird">Bird</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="item">
      <mat-form-field appearance="outline">
        <mat-label>Filter by Species</mat-label>
        <mat-select (selectionChange)="filter($event, 'status')">
          <mat-option value="all">All</mat-option>
          <mat-option value="lost">LOST</mat-option>
          <mat-option value="found">FOUND</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="petList">
    <div class="cards-container">
      @for (petList of paginaterdPets; track $index) {
      <mat-list class="cards">
        <div class="header-card">
          @if(!petList?.user_filename){
          <mat-icon color="primary" class="icon">account_circle</mat-icon>
          }@else {
          <img
            class="img-icon"
            src="http://localhost/loginPage/backend/upload/{{
              petList.user_id
            }}/{{ petList.user_filename }}"
          />
          }
          <h2 class="userName">{{ petList.user_first_name }}</h2>
          <button class="btn-header" mat-stroked-button>
            {{ petList.status }}
          </button>
        </div>

        <div class="pet_image">
          <img
            class="img-pet"
            src="http://localhost/loginPage/backend/upload/{{
              petList.user_id
            }}/{{ petList.pet_filename }}"
          />
        </div>

        <mat-list-item></mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Pet Name: {{ petList.pet_name }}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Race: {{ petList.pet_race }}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Specie: {{ petList.pet_species }}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Sex: {{ petList.pet_sex }}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Last Location: {{ petList.pet_last_location }}</mat-list-item>
        <mat-divider></mat-divider>

        <div class="btn-div">
          <button
            (click)="rescue()"
            type="submit"
            class="btn"
            mat-raised-button
            color="primary"
          >
            Rescue Pet
          </button>
        </div>
      </mat-list>
      } @empty { @defer () {
      <h1>Pets not found.</h1>
      } @loading (minimum 2000ms) {
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      <h1>Loading all lost pets...</h1>
      } }
    </div>
    <div class="pagination-container">
      <mat-paginator
        [length]="totalItems"
        [pageSize]="pageSize"
        aria-label="Select page"
        (page)="pageChange($event)"
      >
      </mat-paginator>
    </div>
  </div>
</div>
