@use './assets/styles/colors.scss' as *;
@import "@angular/material/prebuilt-themes/deeppurple-amber.css";
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  /* font-family: 'Comic Neue', cursive; */
  font-family: 'Comfortaa', sans-serif;
}

html,
body {
  background-color: $background;
  /* 4a4e69  promissora b8bedd melhor*/
  height: 100%;

}

body {
  --sb-track-color: $background;
  --sb-thumb-color: $primary;
  --sb-size: 6px;

  scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
}

body::-webkit-scrollbar {
  width: var(--sb-size)
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);

}