


$background: #fcfcfc;
$primary: #673ab7;
$cardShadowPrimary: inset 0px 0px 68px -8px rgba(175, 175, 175, 0.555);
$backgroundColorCard: white;

// $background: #333333;
// $primary: #673ab7;
// $cardShadowPrimary: inset 0px 0px 68px -8px rgba(175, 175, 175, 0.555);
// $backgroundColorCard: #d3d3d3;

// $background: #d0b8ac;
// $primary: #635554;
// $cardShadowPrimary: 0px;
// $backgroundColorCard: #edede9;