
// default
$background: rgb(255, 255, 255);
$primary: #673ab7;
$cardShadowPrimary: inset 0px 0px 68px -8px rgba(175, 175, 175, 0.274);
$backgroundColorCard: rgb(255, 255, 255);


// Dark Mode

// $background: rgb(255, 255, 255);
// $primary: #673ab7;
// $cardShadowPrimary: inset 0px 0px 68px -8px rgba(255, 255, 255, 0.1);
// $backgroundColorCard: transparent;

