button{
    margin: 10px;
    width: 200px;
    height: 30px;
  }

  .modal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    width: 600px;
    height: 50px;
  
  }

  h1{
    font-size: 20px;
    margin: 0;
  }
  .btns{
    display: flex;
  }