
button{
    margin: 10px;
    width: 200px;
    height: 30px;
  }

  .modal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    width: 600px;
    height: 150px;
  
  }

  h1{
    font-size: 20px;
    margin: 0;
  }
  .btns{
    display: flex;
  }



.material-symbols-outlined {
  color: #673ab7;
  padding: 20px;
  transform: scale(3);
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
