
<div class="modal">
  <mat-icon class="icon">edit</mat-icon>
    <h1>Are you sure you want to change your profile?</h1>
  <div class="btns">
    <button
      (click)="confirm()"
      class="btn"
      style="background-color: rgb(41, 71, 97); color: white"
      mat-raised-button
    >
      Yes
    </button>
    <button
      (click)="cancel()"
      class="btn"
      style="background-color: rgb(97, 41, 41); color: white"
      mat-raised-button
    >
      No
    </button>
  </div>
</div>
