@use './../../../../assets/styles/colors.scss' as *;

button {
  margin: 10px;
  width: 200px;
  height: 30px;
}

.modal {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  width: 600px;
  height: 150px;

}

h1 {
  font-family: 'Comfortaa', sans-serif !important;;
  /* font-family: 'Comic Neue', cursive !important; */
  font-size: 20px;
  margin: 0;
}

.btns {
  display: flex;
}


.icon {
  margin: 20px;
  transform: scale(2);
}